* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, sans-serif;
}

@media only screen and (max-width: 1200px) {
    .grid-container{
        grid-template-columns: repeat(10, 2.5rem) !important; 
        grid-template-rows: repeat(10, 2.5rem)  !important;
    }
}

@media only screen and (max-width: 1030px) {
    .grid-container{
        grid-template-columns: repeat(10, 2.25rem) !important; 
        grid-template-rows: repeat(10, 2.25rem)  !important;
    }
    .gameboard-flex{
        gap: 3rem !important;
    }
}

@media only screen and (max-width: 930px) {
    .grid-container{
        grid-template-columns: repeat(10, 2.25rem) !important; 
        grid-template-rows: repeat(10, 2.25rem)  !important;
    }
    .ship-buttons > *{
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 370px) {
    .grid-container{
        grid-template-columns: repeat(10, 1.8rem) !important; 
        grid-template-rows: repeat(10, 1.8rem)  !important;
    }
    .pop-up{
        width: 95vw !important;
    }
}

.grid-container{
    width: auto;
    display: grid;
    border-style: solid;
    border-color: black;
    grid-template-columns: repeat(10, 3rem);
    grid-template-rows: repeat(10, 3rem);
}

.coordinate{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.gameboard-flex{
    display: flex;
    width: 90%;
    justify-content: center;
    gap: 12rem;
    flex-wrap: wrap;
}

.display-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1.5%;
    background-color: #006994;
}

.change-axis-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-axis-button{
    padding: 10px;
    font-size: 20px;
}

.place-ship-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ship-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ship-buttons > *{
    font-size: 20px;
    padding: 5px;
}

#content-container{
    position: absolute;
    width: 100%;
}

.pop-up-background{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(105,105,105,0.5);
}

.pop-up{
    width: 500px;
    border-radius: 20px;
    background-color: white;
}

.pop-up-container{
    padding: 6%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.start-info-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4%;
}

#start-title{
    text-align: center;
}


.flex-center{
    display: flex;
    justify-content: center;
}

.how-to-play-container{
    display: flex;
    align-items: center;
}

#instructions-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 17px;
}

#how-to-play{
    display: flex;
    flex-direction: column;
    gap:17px;
    text-align: center;
    list-style-type: none;
}

.play-btn-container{
    display: flex;
    justify-content: center;
    margin: 20px 20px 0px 20px;
}

.play-btn{
    font-size: 20px;
}

button{
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    cursor: pointer;
    background-color: white;
}

.info-text-container{
    text-align: center;
}

.info-text{
    color:white;
}

.legend-container{
    width: 300px;
    background-color: white;
    border-radius: 12px;
    height: 50px;
    padding: 5px 10px 5px 10px;
}

.legend{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.legend-square{
    display: flex;
    justify-content: center;
    align-items: center;
}

#legend-hit-square{
    background-color: red;
}

#legend-miss-square{
    background-color: rgb(211,211,211);
}

#legend-sunk-square{
    background-color: rgb(44,44,44)
}

.win-text{
    text-align: center;
}

.win-sub-text{
    margin-top: 10px;
    text-align: center;
}